head {

    background-color: #000;
}


body {
    background:black url(http://fc01.deviantart.net/fs71/f/2012/160/b/9/stars_by_paulinemoss-d52un4e.jpg);
    animation: stars 205s linear alternate;
  }
  
  #box {
    background:url(https://cdn.rawgit.com/ManzDev/cursos-assets/gh-pages/css3/earth-2.jpg);
    background-size:cover;
    border:2px solid #000;
    border-radius:50%;
    width:200px;
    height:200px;
    animation: movimiento 5s linear 0s infinite;
    box-shadow:0 0 25px RGBA(255,255,255, 0.10),
               -8px -8px 15px #000 inset,
               2px 2px 25px #000 inset,
               -45px -45px 25px RGBA(0,0,0, 0.5) inset, 
               25px 25px 45px RGBA(0,0,0, 0.45) inset;
    margin:6em auto;
    transform:rotateX(6deg) rotateY(6deg) rotateZ(6deg);
  }
  
  @keyframes movimiento {
    0% { background-position:0 0 }
    100% { background-position:355px 0 }
  }
  
  @keyframes stars {
    0% { background-position:0 0 }
    100% { background-position:0 100% }
  }




#map {
    height: 70vh;
    margin-top: 5%;
    width:80%;
}

#trouver {
    width: 100%;
    height : 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color:#fff
  }


#trouver h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#suivi {
    margin-left : 10%;
    margin-top : 10px;
    width: 320px;
    height: 120px;
    border: 0.5rem solid;
    border-color: blue;
}

#zonetweet {
    margin-left: 900px;
    margin-top: -100px;
    width: 450px;
    height: 200px;
    border: 0.5rem solid;
    display : none;
    border-color: rgb(255, 38, 0);
}

#zonetweet button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#zonetweet button:hover {
    background-color: red;
}

#zonetweet button:focus {
    background-color: green;
}

#textweet {
    margin-left: 10px;
    margin-top: -2px;
    height: 60px;
    width: 180px;
}

#envoietweet {
    margin-left: 240px;
    margin-top: -20px;
}

#pesquet {
    width: 80px;    
  }

#photo {
    width : 190px;
}