#map {
    height: 70vh;
    margin-top: 5%;
    width:80%;
}

#trouver {
    width: 100%;
    height : 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


#trouver h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#suivi {
    margin-left : 5%;
    margin-top : 10px;
    width: 320px;
    height: 120px;
    border: 0.5rem solid;
    border-color: blue;
}

#zonetweet {
    margin-left: 900px;
    margin-top: -100px;
    width: 450px;
    height: 200px;
    border: 0.5rem solid;
    border-color: rgb(255, 38, 0);
}

#zonetweet button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#zonetweet button:hover {
    background-color: red;
}

#zonetweet button:focus {
    background-color: green;
}

#textweet {
    margin-left: 10px;
    margin-top: -2px;
    height: 60px;
    width: 180px;
}

#envoietweet {
    margin-left: 240px;
    margin-top: -20px;
}
#localise {
   margin-left:40%;
}

#pesquet {
    width: 80px;    
  }

#photo {
    width : 190px;
}